@page "/image/{ImageId:guid}"
@using Application.Albums
@using Application.Images
@using PhotoSharp.Components.Dialogs
@inject IImageService ImageService
@inject IAlbumService AlbumService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

@if (_image is not null)
{
    <PageTitle>Image - @_image.Name</PageTitle>
    <h1>@_image.Name</h1>
    <img src="/api/images/@_image.Id" alt="@_image.Name">
    <!-- Add Image to Album -->
    <button class="btn btn-primary" @onclick="OpenChooseAlbumDialog">Add to Album</button>
    <button class="btn btn-danger" @onclick="DeleteImage">Delete</button>
    <AlbumChooserDialog IsOpen="@_isDialogOpen" IsOpenChanged="@(open => _isDialogOpen = open)" OnAlbumSelected="HandleAlbumSelected"></AlbumChooserDialog>
}

@code{

    [Parameter]
    public Guid ImageId { get; set; }
    private bool _isDialogOpen;
    private EF.Models.Models.Image? _image;

    //get the image
    protected async override Task OnInitializedAsync()
    {
        var image = await ImageService.GetImageAsync(ImageId);
        if (image is null)
        {
            NavigationManager.NavigateTo("/");
            return;
        }
        _image = image;
    }

    private void OpenChooseAlbumDialog()
    {
        _isDialogOpen = true;
    }

    private void HandleAlbumSelected(Guid albumId)
    {
        AlbumService.AddImageToAlbumAsync(albumId, _image!.Id);
    }

    private async Task DeleteImage()
    {
        try
        {
            await ImageService.DeleteImageAsync(ImageId);
            NavigationManager.NavigateTo("/");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

}