@page "/image/{ImageId:guid}"
@using Application.Albums
@using Application.Images
@using PhotoSharp.Components.Dialogs
@inject IImageService ImageService
@inject IAlbumService AlbumService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

@if (_image is not null)
{
    <PageTitle>Image - @_image.Name</PageTitle>
    <div class="container-fluid p-0">
        <div class="d-flex align-items-center justify-content-between px-3 py-2 bg-dark text-white">
            <div class="d-flex align-items-center">
                <button class="btn btn-link text-white" @onclick="NavigateBack">
                    <i class="bi bi-arrow-left"></i>
                </button>
                <h5 class="m-0">@_image.Name</h5>
            </div>
            <div>
                <button class="btn btn-link text-white" @onclick="OpenChooseAlbumDialog">
                    <i class="bi bi-folder-plus"></i>
                </button>
                <button class="btn btn-link text-white" @onclick="DeleteImage">
                    <i class="bi bi-trash"></i>
                </button>
                <a href="/api/images/@_image.Id" class="btn btn-link text-white" download>
                    <i class="bi bi-download"></i>
                </a>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center" style="height: 90vh;">
            <img src="/api/images/@_image.Id" alt="@_image.Name" class="img-fluid rounded">
        </div>
    </div>
    <AlbumChooserDialog IsOpen="@_isDialogOpen" IsOpenChanged="@(open => _isDialogOpen = open)" OnAlbumSelected="HandleAlbumSelected"></AlbumChooserDialog>
}

@code {
    [Parameter]
    public Guid ImageId { get; set; }
    private bool _isDialogOpen;
    private EF.Models.Models.Image? _image;

    protected async override Task OnInitializedAsync()
    {
        var image = await ImageService.GetImageAsync(ImageId);
        if (image is null)
        {
            NavigationManager.NavigateTo("/image");
            return;
        }
        _image = image;
    }

    private void NavigateBack()
    {
        NavigationManager.NavigateTo("/images"); // Adjust the URL as needed
    }

    private void OpenChooseAlbumDialog()
    {
        _isDialogOpen = true;
    }

    private void HandleAlbumSelected(Guid albumId)
    {
        AlbumService.AddImageToAlbumAsync(albumId, _image!.Id);
    }

    private async Task DeleteImage()
    {
        try
        {
            await ImageService.DeleteImageAsync(ImageId);
            NavigationManager.NavigateTo("/images"); // Adjust the URL as needed
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}