@page "/album/{AlbumId:guid}"
@using Application.Albums
@using PhotoSharp.Components.Dialogs
@inject IAlbumService AlbumService
@rendermode InteractiveServer
@inject NavigationManager NavigationManager


<PageTitle>Albums</PageTitle>

<h1>Albums</h1>

@if (_album is not null)
{
    <h2>@_album.Name</h2>
    <p>@_album.Description</p>
    <button class="btn btn-danger" @onclick="DeleteImage">Delete</button>
    <a class="btn btn-primary" href="albums/edit/@AlbumId">Edit</a>
    <button class="btn btn-primary" @onclick="OpenChooseImagesDialog">Add Images</button>
    <br>
    @foreach (var albumImage in _album.Images)
    {
        <a href="/image/@albumImage.Id">
            <img src="/api/images/@albumImage.Id/thumbnail" alt="@albumImage.Name">
        </a>
    }
    <ImageChooserDialog IsOpen="@_isDialogOpen" IsOpenChanged="@(open => _isDialogOpen = open)" OnImagesSelected="HandleImagesSelected"></ImageChooserDialog>

}

@code{

    [Parameter]
    public Guid AlbumId { get; set; }
    private bool _isDialogOpen;
    private EF.Models.Models.Album? _album;

    //get the image
    protected async override Task OnInitializedAsync()
    {
        await GetAlbum();
    }

    private async Task GetAlbum()
    {
        var album = await AlbumService.GetAlbumAsync(AlbumId);
        if (album is null)
        {
            NavigationManager.NavigateTo("/");
            return;
        }
        _album = album;
    }

    private async void HandleImagesSelected(List<Guid> imageIds)
    {
        await AlbumService.AddImagesToAlbumAsync(AlbumId, imageIds);
        GetAlbum();
    }

    private async Task DeleteImage()
    {
        try
        {
            await AlbumService.DeleteAlbumAsync(AlbumId);
            NavigationManager.NavigateTo("/");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private void OpenChooseImagesDialog()
    {
        _isDialogOpen = true;
    }
}